@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;700&family=Noto+Serif+TC:wght@600&family=Poppins:ital,wght@0,500;1,200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif SC', serif;
    font-family: 'Noto Serif TC', serif;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh; 
}

header {
    display: grid;
    place-items: center;
}

a,
a:hover {
    text-decoration: none;
}

.logo img {
    width: 99px;
    margin-right: 10px;
    
    margin-top: 5px;
}

nav {
    height: 60px;
    background-color: cornflowerblue;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 0px 20px;
    align-items: center;
}

nav a {
    color: aliceblue;
}

.logo {
    flex: 1;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li:hover {
    background-color: mediumslateblue;
}

.menu li.active a {
    background-color: mediumslateblue;

}

.menu li {
    padding: 15px 15px;
    /* font-size: 1.5rem; */
}

.menu li a {
    padding: 15px 15px;
    font-size: 21px;
}

.toggle {
    display: none;
    font-size: 24px;
}

form {
    display: flex;
    height: 60px;
    width: 78%;
    background-color: snow;
    min-width: 15% !important;
    border: 2px solid rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    padding: 2px;
    margin: 0 auto;

}

form .search {
    height: 100%;
    width: 100%;
    padding: 0 1px;
    color: black;
    background: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;

}

form .button {
    padding: 0 15px;
    background-color: snow;
    border: 0px;
    cursor: pointer;
    font-size: 21px;
    color: #000;
    border-radius: 10px;
}

main {
    margin: 2em;
    min-height: 670px;
    display: inline-block;
    /* place-content: center; */
    letter-spacing: 0.1em;
    line-height: 2em;
    align-items: center;
}

h1 {
    font-size: x-large;
    text-align: center;
}

h2 {
    font-size: larger;
    text-align: center;
}

blockquote {
    margin: 1em 4em 1em 4em;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.2rem;
    text-indent: 2em;
    letter-spacing: 2px;
    line-height: 50px;
    color: darkblue;
}


p{
    margin: 10px;
    font-size: 1.2rem;
    text-indent: 2em;            
    
}
.container{
      display:flex;
      justify-content: center;
}

.card{
    width: 350px;
    height: 600px;
    margin: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}


.card-img{
    width: 100%;
    height: 300px;
    background-size:cover;
    border-radius: 10px 10px 0 0;
}

.card-content{
    padding: 1rem;
}
.card-header{
    font-size: 2rem;
    font-weight: 500;
    color:#0d0d0d;
    margin-bottom: 1.5rem;
}
.card-text {
    font-size: 1rem;
    letter-spacing: rem;
    line-height: 1.7;
    color:#3d3d3d;
    margin-bottom: 2.5rem;
}

.card-btn{
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    background-color:darkkhaki;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
.span {
    margin-left: 1rem;
    transition: 0.2s;
}
.card-btn:hover,
.card-btn:active{
    background-color:blueviolet;
}

.card-btn:hover span,
.card-btn:active span {
 margin-left: 1.5rem;
}   

ruby{
     letter-spacing: 30px;
}
rt{
     letter-spacing: 2px;
}

article{
    margin: 5%;
}

footer{
    /* max-height: 60px; */

    background-color:cornflowerblue;
    text-align: center;
    padding: 15px;
    color:white;
}

.hometown {
    margin-left: 200px;
}

@media (max-width:600px) {

    main {
        margin: 10px;
        word-wrap: normal;
    }

    nav {
        display: block;
        position: relative;
        padding: 15px 20px;

    }

    .menu .active,
    .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
        /* display: block; */
    }

    .nav ul {
        flex-wrap: wrap;
    }

    .menu {
        display: none;
        margin: -5px 0 0 200px;
        width: 150px;
        text-align: center;
        background-color: cornflowerblue;
    }

    body {
        background-color: ghostwhite;
    }

    .menu li:hover {
        background-color: blueviolet;
    }

    .active {
        display: block;
    }

    .logo img {
        margin: -5px auto 5px 0;
    }

    form {
        float: left;
        display: flex;
    }

    .标题 {
        display: block;
        float: left;
        list-style: square;
    }

    .hometown {
        margin-left: 5px;
    }
}